#login-content {
  text-align: center;
  padding: 70px 30px;
  h2 {
    color: var(--color);
    font-size: 20px;
  }
  a {
    color: #0099ff;
    font-size: 18px;
    margin-top: 70px;
    cursor: pointer;
    transition: 600ms;
    display: block;
  }
  a:hover {
    color: #00aaff;
  }
  button {
    padding-block: 10px;
    padding-inline: 30px;
  }
}

.login-form {
  margin-top: 50px;
  P {
    color: var(--color);
    font-size: 18px;
    margin-right: 6px;
  }
  .warning {
    color: #ff4466;
    font-size: 12px;
    line-height: 14px;
    font-style: italic;
  }
}
.input-div {
  text-align: left;
  padding-inline: 30px;
  p {
    height: 20px;
  }
  input {
    width: 100%;
  }
}
