$white: #fcfcfc;
$black: black;

$gray-light-fa: #fafafa;
$gray-light-f0: #f0f0f0;

$gray-normal-4: #444444;

$gray-dark-19: #191a1a;
$gray-dark-1c: #1c1c1c;
$gray-dark-28: #202020;

$blue: #0099ff;
$success: #14d483;
$danger: #ff3366;
